.ReactSlickDemo {
  max-width: 600px;
  padding: 30px;
  margin: auto;
  background-color: rgb(56, 56, 56);
}

.slick-slide > div {
  margin: 15px;
}

.slick-box {
  background: tan;
  text-align: center;
  height: 100%;
  box-shadow: 0 0 10px red;

}
.slick-center {
  /* transform: scale(1.08); */
}

.slick-prev {
  left: 40%;
  top: 110%;
}

.slick-next {
  right: 40%;
  top: 110%;
}